#factory.class.name=org.doovos.debug.KFactoryDebug
boot.class.name=org.doovos.system.boot.DoovosInit
#boot.class.name=jnt.scimark2.commandline
#boot.class.name=test.testsystem
boot.class.args=

boot.env.HOST_JRE=6
boot.env.PATH=\
   /data/sys/bin/jre/${HOST_JRE}/*.jar\
  :/data/sys/bin/*.jar\
  :/data/bin/*.jar\
  :/data/bin/*.zip
